In [1]:
%cd /home/aditya/git/saltedge_python

/home/aditya/git/saltedge_python

In [15]:
import pandas as pd
import os

import fire
import pandas as pd

from src.utils.directory import RAW_PATH

In [22]:
pd.options.display.max_columns = 200
pd.options.display.max_rows = 200

In [16]:
year = 2019
month = 9

list_df = []
for filename in os.listdir(RAW_PATH):
    if filename.endswith("_{}_{}.csv".format(year, month)):
        list_df.append(pd.read_csv(os.path.join(RAW_PATH, filename)))
full_df = pd.concat(list_df, axis=0, ignore_index=True)

In [19]:
full_df = full_df[full_df['duplicated'] == False].copy()

In [20]:
full_df[['id', 'account_id', 'made_on', 'amount', 'description', 'category', 'type']]

,id,account_id,made_on,amount,description,category,type
0,1801236306,9347260,2019-09-01,-3.00,CIRCLES.LIFE SI NG 31AUG 4628-****-****-3836,phone,MST
1,1801236310,9347260,2019-09-01,-50.00,GRAB *1373********7021 SI NG 30AUG 4628-4500-3...,auto_and_transport,MST
2,1801236314,9347260,2019-09-01,-20.00,GRAB *DC45B66FBFFD4158 SI NG 30AUG 4628-****-*...,auto_and_transport,MST
3,1801236318,9347260,2019-09-01,-2.51,BUS/MRT 9943798 SI NG 27AUG 4628-****-****-3836,public_transportation,MST
4,1801236322,9347260,2019-09-01,-8.85,LAZADA SINGAPORE SI NG 30AUG 4628-****-****-3836,shopping,MST
...,...,...,...,...,...,...,...
60,1801236774,9347264,2019-09-10,-409.96,TRF 406-02088-6 : I-BANK,transfer,ADV
61,1801236778,9347264,2019-09-11,-492.29,TRF 406-02088-6 : I-BANK,transfer,ADV
62,1801236782,9347264,2019-09-15,-29.69,UMC-S ERAMAN KLIA SE PA 13SEP 5264-****-****-2...,uncategorized,POS
63,1801236786,9347264,2019-09-17,-9.15,UMC-S OTWC-KLIA (POC) SE PA 13SEP 5264-****-**...,uncategorized,POS
64,1801236790,9347264,2019-09-30,0.02,Interest Earned,income,ATINT

In [21]:
full_df[full_df.description.apply(lambda x : 'TRF' in x)]

,index,id,account_id,duplicated,mode,status,made_on,amount,currency_code,description,category,type,account_balance_snapshot,created_at,updated_at
58,28,1801236766,9347264,False,normal,posted,2019-09-07,-100.00,SGD,TRF 406-02088-6 : I-BANK,transfer,ADV,59.18,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
60,30,1801236774,9347264,False,normal,posted,2019-09-10,-409.96,SGD,TRF 406-02088-6 : I-BANK,transfer,ADV,59.18,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
61,31,1801236778,9347264,False,normal,posted,2019-09-11,-492.29,SGD,TRF 406-02088-6 : I-BANK,transfer,ADV,59.18,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z