In [3]:
%cd /home/adityasidharta/git/saltedge_python

/home/adityasidharta/git/saltedge_python

In [4]:
import pandas as pd

In [5]:
import streamlit as st
import datetime as dt

import pandas as pd
from src.utils.datetime import MONTHS
from src.utils.directory import FINAL_PATH
import fire
import os
from emoji import emojize

In [6]:
year = 2019
month = 9

In [7]:
expense_df = pd.read_csv(os.path.join(FINAL_PATH, "expense_{}_{}.csv".format(year, month)))
income_df = pd.read_csv(os.path.join(FINAL_PATH, "income_{}_{}.csv".format(year, month)))

In [22]:
category_df = expense_df.groupby('true_category')['amount'].sum().reset_index().sort_values('amount').reset_index(drop=True)
n_df = len(category_df)
if n_df <= 5:
    result_df = category_df
top_df, others_df = category_df.loc[:4, :], category_df.loc[4:, :]
sum_others_df = pd.DataFrame({
    'true_category': ['OTHER CATEGORIES'],
    'amount': [others_df.amount.sum()]
})
result_df = top_df.append(sum_others_df).reset_index(drop=True)

In [23]:
result_df

         true_category  amount
0       OTHER_EXPENSES -904.00
1             SHOPPING -771.71
2                  FEE -333.50
3                 TAXI -207.49
4  BILLS_AND_UTILITIES  -95.97
5     OTHER CATEGORIES -363.44